h3 {
  color: red;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 10px; /* Add margin bottom to separate heading from content */
}
.add p,
.edu p {
  font-weight: 700;
  font-size: 22px;
  margin-block: 3px;
}

.add {
  margin-block: 2px;
  margin-left: 13px;
}
.edu {
  margin-left: 13px;
  border-bottom: 0.1px solid pink;
}
